.header {
  padding-top: 20px;

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-nav {
    &__list {
      display: flex;
      align-items: center;
      column-gap: 50px;
    }
  }
}
