*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
  z-index: 1;
  box-sizing: content-box;
  
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}
